streamlit==1.36.0
python-docx
crewai==0.30.11
langchain-google-genai==1.0.4
openai==1.31.0
langchain-core==0.1.52
pysqlite3-binary
duckduckgo_search==6.1.5
langchain-community==0.0.38
langchain-groq==0.1.5
xlsxwriter==3.2.0
